@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
.row{
  margin: 0;
  padding: 0;
}
.content{
  display: block;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #ffb4b4;
  font-family: 'Monda', sans-serif;
  .title{
    height: 10vh;
    h1{
      width: 100%;
      margin: auto;
      color: #43696b;
    }
  }
  .calculator{
    position: relative;
    height: 90vh !important;
    padding: 20px;
    margin: auto 10px;
    background-color: #fff;
    border-radius: 20px;
    .choix{
      height: calc(60vh - 20px);
      .span-bill, .span-custom, .span-nbr{
        display: none;
      }
      .span-bill.error, .span-custom.error, .span-nbr.error{
        display: initial;
        margin: 0;
        padding: 0;
        width: 100%;
        color: red;
      }
      .select-tip{
        margin: 20px 0px;
        p{
          text-align: start;
          width: 100%;
        }
        .col-btn{
          margin: 0px auto;
          button{
            width: 100%;
            color: #fff;
            background-color: #f13636;
            font-family: 'Monda', sans-serif;
            font-size: 1.2em;
            font-weight: 700;
          }
          .input-custom{
            height: 100%;
          }
        }
        .col-btn:nth-of-type(3), .col-btn:nth-of-type(4){
          margin: 10px auto;
        }
      }
    }
    .total{
      height: calc(30vh - 20px);
      background-color: #f13636;
      padding: 40px 20px;
      border-radius: 20px;
      .test{
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        .part1, .part2{
          width: 100%;
          .label{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #fff;
          }
          .number{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #3a0000;
            font-size: 2em;
            font-weight: 700;
          }
        }
        .el-button{
          width: 100%;
          color: #ffe4e4;
          background-color: #3a0000;
          border: none;
          font-family: 'Monda', sans-serif;
          font-size: 1.5em;
          font-weight: 700;
        }
      }   
    }
  }
}
@media screen and (min-width:768px){
  .content .calculator{
    .choix{
      .select-tip{
        .col-btn{
          margin: 10px auto;
        }
      }
    }
  }
}
@media screen and (min-width:992px){
  .content{
    padding: 10%;
    .calculator{
      display: flex;
      height: 60vh !important;
      padding: 40px;
      justify-content: space-evenly;
      .choix{
        height: auto;
      }
      .total{
        height: auto;
      }
    }
  }  
}