<div class="row content">
    <div class="row title">
        <h1>Angular Tip Splitter</h1>
    </div>
    <div class="row calculator">
        <div class="col choix" :xs="24" :sm="24" :md="10">
            <div class="row bill">
                <p>Bill</p>
                <div class="input-group mb-3">
                    <input class="input-bill form-control" placeholder="Total of the bill" 
                    #billInput (input)="onInputBill(billInput.value)" [value]="bill" type="text"/>
                    <span class="span-bill">error</span>
                </div>
            </div>
            <div class="row select-tip">
                <p>Select Tip%</p>
                <div class="col col-btn col-sm-4 col-md-6">
                    <button class="btn btn-lg" (click)="calcTip(5)">5%</button>
                </div>
                <div class="col col-btn col-sm-4 col-md-6">
                    <button class="btn btn-lg" (click)="calcTip(10)">10%</button>
                </div>
                <div class="col col-btn col-sm-4 col-md-6">
                    <button class="btn btn-lg" (click)="calcTip(15)">15%</button>
                </div>
                <div class="col col-btn col-sm-4 col-md-6">
                    <button class="btn btn-lg" (click)="calcTip(25)">25%</button>
                </div>
                <div class="col col-btn col-sm-4 col-md-6">
                    <button class="btn btn-lg" (click)="calcTip(50)">50%</button>
                </div>
                <!-- <div class="col col-btn col-sm-4 col-md-6">
                    <input class="input-custom form-control" placeholder="Custom" 
                    #customInput (input)="onInputCustom(customInput.value)" [value]="custom" type="text">
                </div>
                <span class="span-custom">error</span> -->
            </div>
            <div class="row nbr-people">
                <p>Number of people</p>
                <div class="input-group mb-3">
                    <input class="input-nbr form-control" placeholder="Total of people" 
                    #nbrPeopleInput (input)="onInputNbr(nbrPeopleInput.value)" [value]="nbrPeople" type="text">
                    <span class="span-nbr">error</span>
                </div>
            </div>
        </div>
        <div class="col total col-12 col-lg-6" :xs="24" :sm="24" :md="10">
            <div class="row test">
                <div class="row part1">
                    <div :xs="12" :sm="12" :md="12" :xl="12" class="col label">Tip Amount / person</div>
                    <div :xs="12" :sm="12" :md="12" :xl="12" class="col number">${{ amountPerson }}</div>
                </div>
                <div class="row part2">
                    <div :xs="12" :sm="12" :md="12" :xl="12" class="col label">Total</div>
                    <div :xs="12" :sm="12" :md="12" :xl="12" class="col number">${{ total }}</div>
                </div>
                <button class="btn btn-lg el-button" (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>